---
import "../styles/global.css";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout content={{ title: "home | nawhgnues", center: true }}>
  <div>
    <h1
      class="scroll-m-20 text-2xl font-extrabold tracking-tight mb-3 lg:text-3xl"
    >
      こんにちは
    </h1>
    <h1 class="scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl">
      イスンファンです
    </h1>
    <p class="leading-7 [&:not(:first-child)]:my-6">
      フロントエンドが好きな3年目の開発者です
    </p>

    <p class="text-muted-foreground">大事にすること</p>

    <ul class="my-6 ml-6 list-disc [&>li]:mt-2">
      <li class="text-xs md:text-base">
        開発トレンドに取り残されないように継続的に学習しています
      </li>
      <li class="text-xs md:text-base">
        可読性と保守性を意識してコードを書くよう心がけています
      </li>
      <li class="text-xs md:text-base">
        性能的な部分を意識しながらコードを作成します
      </li>
    </ul>
  </div>
</RootLayout>
