---
import { Github, Mail, LibraryBig } from "lucide-react";
---

<footer class="w-full">
  <ul class="flex gap-5">
    <li class="text-xs transition-all hover:opacity-60">
      <a
        href="https://github.com/nawhgnues"
        target="_blank"
        rel="noopener noreferrer"><Github /></a
      >
    </li>
    <li class="text-xs transition-all hover:opacity-60">
      <a
        href="mailto:seungdang123@gmail.com"
        target="_blank"
        rel="noopener noreferrer"><Mail /></a
      >
    </li>
    <li class="text-xs transition-all hover:opacity-60">
      <a
        href="https://nawhgnues.vercel.app/blog/ja"
        target="_blank"
        rel="noopener noreferrer"><LibraryBig /></a
      >
    </li>
  </ul>
</footer>
